@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;500;600&display=swap');
.container { width: 1200px; height: 100%; margin: 0 auto; }
.active { position: fixed; z-index: 999; width: 100%; height: 100px; 
    top: 0; left: 0; 
    background-color: white;  box-shadow:1px 1px 1px rgba(149, 149, 149, 0.5); }

    
@media  (max-width:599.9px) {
/* 헤더 */
    .container{width: 100%; height: 100%;}
    header { width: 100%; height: 100px; 
             position: absolute; top: 0; left: 0; z-index: 3; }
    #logonav { display: flex; justify-content: space-between; align-items: center; 
               background-color: black; padding: 0 20px; }
    #logonav .logo { width: 150px; height: 70px; }
    #logonav .logo img { width: 70%; }
    
    .nav_bar { display: none;}
    .small_nav { display: block; opacity: 0.8; cursor: pointer; }
    .nav_bar ul { display: flex; justify-content: space-around; }
    .nav_bar .nav_item .nav_link { font-size: 16px; color: #eee; font-weight: 800;
                margin-left: 20px; font-family: 'Pretendard-Regular';
                opacity: 0.6; transition: .3s all ease; }
    
    .nav_bar .nav_item .nav_link:hover { opacity: 1; }
    
     /* 햄버거메뉴 클릭시 생성 */
    #myNav { display: none; }
    .overlay { height: auto; width: 100%; 
    position: absolute;  top: 100px; left: 0; z-index: 999;
    background-color: rgb(0,0,0);  }
    .overlay-content { position: relative; top: 10px; width: 100%; 
    text-align: left; padding: 0 0 20px 20px;}   
    .overlay a { padding:5%; line-height:20%; text-decoration: none; 
    font-size: 1rem; color: #eee; 
    font-weight: bold; display: block;}

/* 푸터 */

    footer { width: 100%; height: 100%; padding: 4em 0 0 0;
        background-color: rgb(17, 17, 17); }
    .sitemap .footer_wrap { width: 90%; margin: 0 auto; display: flex; flex-wrap: wrap;}
    .sitemap .footer_wrap div { width: 28%; margin-right: 5%;}
    .sitemap .f_list p { font-size: 0.8em; 
                         font-weight: 700;
                         color: #fff;
                         margin-top: 10%;}
    .sitemap div a { font-size: 0.6em; font-weight: bold;
    color: rgba(255, 255, 255, 0.5); }
    .social_icon { display: flex; margin-top: 10%; }
    .social_icon a { margin: 1%; }

    .phone_num { text-align: center; font-size: 0.6em; padding-top: 10%; margin-top: 30px;
    height: 150px; color: #eee; line-height: 25px; }
    .phone_num span { color: rgb(100, 100, 100); }
    .last_copyright p { color: rgb(100, 100, 100); text-align: center; font-size: 0.6em;
                        padding-bottom: 20px; }
}


@media  (min-width:600px) and (max-width:1199.9px)  {
    /* 헤더 */
   .container{width: 100%; height: 100%;}
   header { width: 100%; height: 100px; 
       position: absolute; top: 0; left: 0; z-index: 3; }
   #logonav { display: flex; justify-content: space-between; align-items: center; 
       background-color: black; padding: 0 20px; }
   #logonav .logo { width: 150px; height: 70px; }
   #logonav .logo img { width: 70%; }

   .nav_bar { display: none; }


   .small_nav { display: block; opacity: 0.8; cursor: pointer;}
   .nav_bar ul { display: flex; justify-content: space-around; }
   .nav_bar .nav_item .nav_link { font-size: 16px; color: #eee; font-weight: 800;
   margin-left: 20px; font-family: 'Pretendard-Regular';
   opacity: 0.6; transition: .3s all ease; }

   .nav_bar .nav_item .nav_link:hover { opacity: 1; }
    /* 햄버거메뉴 클릭시 생성 */
    #myNav { display: none; }
    .overlay { height: auto; width: 100%; 
    position: absolute;  top: 100px; left: 0; z-index: 999;
    background-color: rgb(0,0,0);  }
    .overlay-content { position: relative; top: 10px; width: 100%; 
    text-align: left; padding: 0 0 20px 20px;}   
    .overlay a { padding:3%; line-height:10%; text-decoration: none; 
    font-size: 1rem; color: #eee; 
    font-weight: bold; display: block;}


   
   /* 푸터 */
   footer { width: 100%; height: auto; padding: 4em 0 0 0;
            background-color: rgb(17, 17, 17); }
   .sitemap .footer_wrap { width: 95%; margin: 0 auto; display: flex; flex-wrap: wrap;}
   .sitemap .footer_wrap div { width: 19%; margin-right: 8px;}
   .sitemap .f_list p { font-size: 1em; 
                       font-weight: 700;
                       color: #fff;
                       margin-top: 20px; }
   .sitemap div a { font-size: 0.8em; font-weight: bold;
                   color: rgba(255, 255, 255, 0.5); }
   .social_icon { display: flex; margin-top: 10px; }
   .social_icon a { margin: 5px;}
   
   .phone_num { text-align: center; font-size: 0.8em; padding-top: 30px; margin-top: 30px;
   height: 150px; color: #eee; line-height: 25px; }
   .phone_num span { color: rgb(100, 100, 100); }
   .last_copyright p { color: rgb(100, 100, 100); text-align: center; font-size: 12px;}

}




@media  (min-width:1200px) {
    /* 헤더 */
    header { width: 100%; height: 100px; 
             position: absolute; top: 0; left: 0; z-index: 3;}
    #logonav { display: flex; justify-content: space-between; align-items: center; 
            padding: 10px; margin: 0 auto;}
    #logonav .logo { width: 150px; height: 70px;}
    #logonav .logo img { width: 70%;}

    .small_nav { display: none; }
    #myNav { display: none; }
    .nav_bar { width: 50%;}
    .nav_bar ul { display: flex; justify-content: space-around; }
    .nav_bar .nav_item .nav_link { font-size: 16px; color: #eee; font-weight: 800;
                                margin-left: 20px; font-family: 'Pretendard-Regular';
                                opacity: 0.6; transition: .3s all ease;}

    .nav_bar .nav_item .nav_link:hover { opacity: 1;}  

    /* 푸터 */
    footer { width: 100%; height: 600px; padding: 4em 0 0 0;
        background-color: rgb(17, 17, 17); }
    .sitemap .footer_wrap { display: flex;}
    .sitemap .footer_wrap div { width: 20%; margin-right: 50px;}
    .sitemap .f_list p { font-size: 20px; 
                    font-weight: 700;
                    color: #fff;
                    margin-top: 20px;}
    .sitemap div a { font-size: 13px; font-weight: bold;
        color: rgba(255, 255, 255, 0.5);}
    .social_icon { display: flex; margin-top: 10px;}
    .social_icon a { margin: 5px;}
    
    .phone_num { text-align: center; font-size: 14px; padding-top: 30px; margin-top: 30px;
    height: 150px; color: #eee; line-height: 25px; }
    .phone_num span { color: rgb(100, 100, 100);}
    .last_copyright p { color: rgb(100, 100, 100); text-align: center; font-size: 12px;}
}


