@charset "UTF-8";
.container{width: 1200px; height: 100%; margin: 0 auto; }
 /* 상단메뉴 */
header{width: 100%; height: 100px; 
  position: absolute; top: 0; left: 0; z-index: 3;}
#logonav{display: flex; justify-content: space-between; align-items: center; 
padding: 10px; margin: 0 auto;}
#logonav .logo{width: 150px; height: 80px;}
#logonav .logo img{width: 70%;}

.nav_bar{width: 50%;}
.nav_bar ul{display: flex; justify-content: space-around; }
.nav_bar .nav_item .nav_link{font-size: 16px; color: #eee; font-weight: 800;
  margin-left: 20px; font-family: 'Pretendard-Regular';
  opacity: 0.6; transition: .3s all ease;}

.nav_bar .nav_item .nav_link:hover{opacity: 1;}

 /* 슬라이드 이미지  */
#slider{width: 100%; height: 700px; }
#slider .s_photo1{width:100%; height: 700px;  position: relative;  
  z-index: -2; }
#slider .s_photo1::after{content: ""; width: 50%; height: 750px;  background-color: black; position: absolute; top: 0; left: 0; opacity: 0.8; z-index: 0;}

.slide{width: 100%; height: 100%;}  
.slide li{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.slide li:not(:first-of-type) {display: none;}
.slide li img{width: 100%; height: 100%; object-fit: cover; position: relative; }
#slider .s_photo1 .text_box{ width: 50%; height: 300px; position: absolute; top:30%; z-index: 5; transition:ease-in 0.3s;}
#slider .text_box h2{color: white; font-size:50px; padding-bottom: 20px ;}
#slider .text_box h4{color: rgb(233, 233, 233); font-size:22px; padding-bottom: 20px ;}
#slider .text_box div{height: 50px; width: 200px;;
                     background-color: #ff0029 ; display: flex; justify-content: center; align-items: center; cursor: pointer;}
#slider .text_box div:hover{background-color: white; color: red;}
#slider .text_box div a{color: white; text-align: center;}
#slider .text_box div i{font-size: 20px; }

 /* 슬라이드 움직이면 메뉴이동 */
.menu_slide_title{width: 100%; height:250px; position: relative; z-index: 1; }
.menu_slide_title::after{width: 100%; height: 250px; background: url("../img/leica_fixed.jpg")fixed; 
    filter: brightness(0.1); content: ""; position: absolute; left: 0; top: 0; z-index: -1;}
#slide_menu{height: 250px; }
#slide_menu ul {display: flex; padding-top: 80px; }
#slide_menu ul li{ width: 25%; height:80px; display: flex; align-items: center;
                   justify-content: center; margin: 5px; }  
#slide_menu ul li a{color: rgb(255, 255, 255); text-align: center;}
#slide_menu ul li span{font-size: 20px; font-weight: 900; }
#slide_menu ul li .second{font-size: 14px;}



#change_to_leica{width: 100%; height: 750px;    }
#change_to_leica .container{width: 100%; display: flex; position: relative;}

#change_to_leica .container .left{width: 50%; height: 750px; }
#change_to_leica .text_system{width: 600px; height: 100%; 
              top:0; left: 50%; margin-left: -600px; 
              position:absolute; padding: 250px 0 0 30px;}
#change_to_leica .text_system h4{color: #ff0029; padding-bottom: 20px;}
#change_to_leica .text_system h1{font-size: 30px; padding-bottom: 20px;}
#change_to_leica .text_system div{ width: 200px; height: 50px;  
  background-color: #ff0029 ; display: flex; justify-content: center; align-items: center;}
#change_to_leica .text_system div a{color: white; text-align: center;}
#change_to_leica .text_system div i{font-size: 20px; }

#change_to_leica .container .right{width: 50%; height: 750px; 
  background:url("../img/img_goods_banner08_210104.jpg");
  background-size: cover; background-position: center;}

#customer_service{width: 100%; height: 750px;}
#customer_service .container{width: 100%; display: flex; } 
#customer_service .container .left{width: 50%; 
  background: url("../img/service_left.jpg");
  background-size: cover; background-position: center;}
  #customer_service .container .right{width: 50%;}
  #customer_service .container .right .text_system{width: 600px; 
      height: 100%; padding: 250px 0 0 30px; }
.text_system h4{color: #ff0029; padding-bottom: 20px;}
.text_system h1{font-size: 30px; padding-bottom: 20px;}
#customer_service .container .right .text_system div{ width: 200px; height: 50px;  
  background-color: #ff0029 ; display: flex; justify-content: center; align-items: center;}
  #customer_service .container .right .text_system div a{color: white; text-align: center;}
  #customer_service .container .right .text_system div i{font-size: 20px; }



.product{width: 100%; height: 500px; background-color: rgb(240, 239, 238);}
.product .product_box{width: 1200px; height: 100%; margin: 0 auto; 
   display:flex; justify-content: center; }
   .product .product_box .pro_content{width: 22%; height: 100%; margin: 20px; text-align: center;
    background-color: gold; 
    display: flex; flex-direction: column; justify-content: flex-end;}
#leica_m_a{max-width: 100%; height: 80%; 
  background: url("../img/m_a.png");
  background-size: contain; background-position:top;
  background-repeat: no-repeat;}
#leica_sl2{max-width: 100%; height: 80%; 
  background: url("../img/sl2_s.png");
  background-size:contain; background-position: top;
  background-repeat: no-repeat;}
#monochrom{max-width: 100%; height: 80%; 
  background: url("../img/monochrom.png");
  background-size:contain; background-position: top;
  background-repeat: no-repeat;}
  #helinox{max-width: 100%; height: 80%; 
    background: url("../img/19051_helinox.png");
    background-size:contain; background-position: top;
    background-repeat: no-repeat;}

.works{width: 100%; height: 1000px; background-color: teal ; 
      display: flex; flex-wrap: wrap; justify-content: center; align-content: flex-start; }
.works h4, h1{width: 100%; margin: 0 auto;}
.works article{width: 22%; height: 300px; margin: 10px; border: 1px solid red;}
footer{width: 100%; height: 200px; background-color: gray; border:1px solid aqua;}
