@charset "UTF-8";


@media  (max-width:599.9px) {
        #wrap { width: 100%; height: auto;}
        section { width: 100%; height: 100%;}
        .sub_slide_wrap { width: 100%; height: auto; 
        position: relative; }
        .fixed_q2 { width: 100%; height: 600px;
                    background-color: #000; 
                    background-position: center;
                    background-size:200% auto; 
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    filter: brightness(0.4); 
                    }
        .sub_slide_wrap h1 { position: absolute; top: 40%; 
                        text-align: center; 
                        width: 100%; color: #fff;
                        font-size: 5rem;
                        transform: translateY(80px); 
                        transition: all 2s; opacity: 0;}  
        .sub_slide_wrap h3 { position: absolute; top: 60%; 
                        text-align: center; 
                        width: 100%; color: #fff;
                        font-size: 2.1rem;
                        transform: translateY(80px); 
                        transition: all 2s; opacity: 0;}  
                
        /* 6개 info */

        .sepc_info { width: 100%; height: auto; 
                        background-color: rgb(0, 0, 0, 0.8);}
        .sepc_info .container { width: 100%; height: 100%; }

        .border { width: 40%; margin: 0 auto;
                border-top: 16px solid #ff0029; }

        .title_heading_center { display: flex; flex-wrap: wrap; justify-content: center;}
        .title_heading_center h1 { width: 100%; text-align: center;
                                    padding-top: 50px; font-size: 50px;
                                    line-height: 50px; color: #fff;}
        .title_heading_center .line { border-bottom: 2px solid rgb(75, 75, 75) ;
                                width: 30%; height: 20px; padding-bottom: 50px;}
        .title_heading_center h4 { width: 82%; text-align: center;
                                    padding: 50px 0; font-size: 1.3rem; font-weight: lighter;
                                    line-height: 40px; color: #eee ;}

        .spec { display: flex; flex-wrap: wrap; justify-content: center;
                padding: 20px; height: auto;}
        .spec_info1 { width: 90%; height: 350px; margin: 10px; 
                background-position: center; background-size: cover;
                transform: rotateX(0); opacity: 1;}
        .slide_title_info { display: none;
                            width: 100%; height: 100%;
                            background-color: #000; opacity: 0.9;
                            padding: 15% 15%; border: 8px solid rgba(238, 238, 238, 0.2);}
        .slide_title_info h3 { color: #fff; font-size: 1.9rem;
                               padding-bottom: 30px;}      
        .slide_title_info p { color: #eee; font-size: 1.0rem; 
                              line-height: 1.5rem;}  




        /* 주미룩스 렌즈 */
        .summilux_info { width: 100%; height: auto; 
                         background-color: rgba(0, 0, 0, 0.9);}
        .sum_content { display: flex; flex-direction: column; width: 100%; height: 100%; }
        .left_text_box { width: 100%; height: 450px; padding: 60px; }
        .left_text_box h1 { width: 100%; font-size: 2rem; 
                            color: #fff; padding-top: 30px; }
        .left_text_box  .line { border-bottom: 1px solid #ff0029 ;
                                 width: 35%; height: 20px; padding-top: 20px; }
        .left_text_box p { width: 100%; color: #eee; padding-top: 50px; 
                           font-size: 1.1rem; line-height: 30px; font-weight: lighter;}
        .right_text_box { width: 100%; height: 380px; background-position-x: 15%; 
                          background-size: 100% auto; background-repeat: no-repeat;  }


        /* 이미지 퀄리티 */

        .day_and_night { width: 100%; height: 500px; background-color: rgb(240, 239, 238);}
        .title_quality_center h5 { width: 100%; text-align: center;
                                padding-top: 50px; font-size: 1.0rem; font-weight: lighter;
                                line-height: 40px; color: #666 ; }
        .title_quality_center .line { border-bottom: 1px solid #ff0029 ;
                                width: 20%; height: 20px; margin: 0 auto;}
        .title_quality_center h1 { width: 90%; margin: 0 auto; text-align: center;
                                padding-top: 5%; font-size: 2rem;
                                line-height: 3rem; color: #000;}
        .title_quality_center p { width: 90%; margin: 0 auto; font-size: 0.9rem; line-height: 1.4rem; 
                                padding-top: 5%; text-align: center;}

        .img_quality { width: 100%; height: 500px; 
                      background-position: center; background-size: cover;}

        /* 뷰파인더 */

        .viewfinder { width: 100%; height:auto; background-color: black;}
        .view_content { display: flex; flex-direction: column; 
                        width: 100%; height: auto;  }
        .view_content .right_text_box {height: 320px; 
                                        background-size: 200% auto;
                                        background-position: bottom;}

        /* 견고함 */
        .last_content { width: 100%; height: 700px; background-color: rgb(240, 239, 238);}
        .last_content .container { height: 400px;}
        .title_outstanding_center h5 { width: 100%; text-align: center;
                                        padding-top: 50px; font-size: 1.2rem; font-weight: lighter;
                                        line-height: 40px; color: #666 ; }
        .title_outstanding_center .line { border-bottom: 1px solid #ff0029 ;
                                         width: 20%; height: 20px; margin: 0 auto;}
        .title_outstanding_center h1 { width: 90%; margin: 0 auto; text-align: center;
                                        padding-top: 5%; font-size: 2rem;
                                        line-height: 3rem; color: #000;}
        .title_outstanding_center p { width: 90%; margin: 0 auto; font-size: 0.9rem; line-height: 1.4rem; 
                                      padding-top: 5%; text-align: center;}

        .last_photo { width: 100%; height: 300px; display: flex; flex-direction: row;}
        .last_photo div { width: 100%; height: 300px; 
                background-position: center; background-size: cover;
        }
}
